<STYLE>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

table #t01 tr:nth-child(even) {
  background-color: #eee;
}

table #t01 tr:nth-child(odd) {
  background-color: #fff;
}
table #t01 {
  color: white
  background-color: black;
}
</STYLE>

